.nav-container, .nav-bar, .header-link, .nav-bar-1 {
    display: flex;
    align-items: center;
}

.nav-container {
    width: 100%;
    height: 10px;
    // margin-top: 20px;
    box-shadow: 0 0 0 10 whitesmoke;

}

.nav-bar {
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.header-link {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 29px;
    font-weight: bolder;
}

.nav-username {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    font-weight: lighter;

}

.nav-signup-btn, .nav-signin-btn, .nav-demo-btn {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
    border: 1px grey solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    background: #f3f3f3;
}

.nav-signup-btn:hover, .nav-signin-btn:hover, .nav-demo-btn:hover {
    border: 1px #c6c6c6 solid;
    box-shadow: 1px 1px 1px black;
    background: #f7f7f7;
}

.nav-signup-btn:active, .nav-signin-btn:active, .nav-demo-btn:active {
    box-shadow: inset 1px 1px 1px black;
}