.nav-container, .nav-bar, .header-link, .nav-bar-1 {
    display: flex;
    align-items: center;
}

.nav-container {
    width: 100%;
    height: 10px;
    // margin-top: 20px;
    box-shadow: 0 0 0 10 whitesmoke;

}

.nav-bar {
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.header-link {
    font-family: "Playfir Display", Georgia, serif;
    font-size: 29px;
    font-weight: bolder;
}

.nav-username {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;

}

.nav-signup-btn {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    border: 1px white;
    padding: 8px 16px;
    border-radius: 2px;
    // font-weight: bold;
    outline: none;
    background: #03A87C;
    color: white;
//     margin-left: 3px;
//     display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 0 20px;
// //   width: 100%;
// //   height: 60px;
//   background-color: whitesmoke;
// //   border-radius: 10px;
//     border: none;

//   font-family: Poppins-Medium;
//   font-size: 16px;
//   color: green;
//   line-height: 1.2;

//   -webkit-transition: all 0.4s;
//   -o-transition: all 0.4s;
//   -moz-transition: all 0.4s;
//   transition: all 0.4s;
//   position: relative;
//   z-index: 1;
//   cursor: pointer;
}

.nav-signin-btn, .nav-demo-btn {
    font-family: "Open Sans", Arial, sans-serif;
    // font-size: 16px;
    // // border: 1px white;
    // padding: 8px 16px;
    // border-radius: 2px;
    // // font-weight: bold;
    // outline: none;
    // background: white;
    // color: black;

    margin-left: 3px;
    // display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
//   width: 100%;
//   height: 60px;
  background-color: white;
//   border-radius: 10px;
    border: none;
  font-size: 16px;
  color:black;
  line-height: 1.2;

}

.nav-signup-btn:hover, .nav-signin-btn:hover, .nav-demo-btn:hover {
    // border: 1px #c6c6c6 solid;
    cursor: pointer;
    // box-shadow: 1px 1px 1px black;
    // background: #f7f7f7;
}

.nav-signup-btn:active, .nav-signin-btn:active, .nav-demo-btn:active {
    // box-shadow: inset 1px 1px 1px black;
}