.session-form-container, .session-form, .session-form-lbl, .session-errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.session-form-container {
  font-family: SourceSansPro-Bold;
  font-size: 12px;
}

.session-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    color: black solid;
    padding: 0px 10px;
}

// .header-session {
//     font-family: SourceSansPro-Bold;
//     font-size: 30px;
// }

.session-form {
    margin-top: 20px;
}

.session-form-lbl {
    color: black solid;
    margin: 10px;
}

.session-form-lbl > input {
    font-family: SourceSansPro-Bold;
    padding: 5px;
    font-size: 16px;
    background: transparent;
    width: 100%;
    color: black solid;
    border-radius: 20px;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}

.session-errors {
    margin: 8px;
    color: black solid;
}

.session-submit {
    display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
//   width: 100%;
//   height: 60px;
  background-color: #333333;
  border-radius: 10px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.session-submit:hover:before {
  opacity: 1;
}

.session-footer {
    display: flex;
    font-size: 16px;
    margin: 17px;
    color: black solid;

}

.small-footer-btn {
    margin-left: 3px;
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
//   width: 100%;
//   height: 60px;
  background-color: #333333;
  border-radius: 10px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.small-footer-btn:hover::before {
  opacity: 1;
}


