.my-app {
  
}
.cadItems-div{

}
.first-blog{
display: flex;
}
.second-blog{
display: flex;
}
/* media query */
@media only screen and (max-width: 768px){

    .first-blog{
        display: inline-block;
        width: 100%;
        }
        .second-blog{
            display: inline-block;
            width: 100%;
            }

}

